$color_1: #f9f7f0;
$color_2: #18b7be;
$color_3: #178ca4;
$color_4: #072a40;


.history-table {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-weight: bold;
    border-bottom: 1px solid $color_3;
    user-select: none;
}

.row {
    display: grid;
    grid-template-columns: 120px 120px 80px 200px ;
}

.row:nth-child(2n) {
    background-color: rgba($color_4, $alpha: 0.1);
}

.cell {
    padding: 2px;
}
